* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 30vw;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgb(24, 22, 62)), color-stop(50%, rgb(9, 116, 121)), to(rgb(0, 212, 255)));
  background: linear-gradient(90deg, rgb(24, 22, 62) 0%, rgb(9, 116, 121) 50%, rgb(0, 212, 255) 100%);
}
.app .number {
  position: relative;
  width: 22vw;
  height: 10vw;
}
.app .number .one-one {
  position: absolute;
  z-index: 1;
  top: 0.2vw;
  width: 3vw;
  height: 5vw;
  background-color: white;
  border-radius: 0.3vw;
  rotate: 50deg;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.app .number .one-two {
  position: absolute;
  z-index: 10;
  left: 2.2vw;
  width: 3.2vw;
  height: 10vw;
  background-color: white;
  border-radius: 0.3vw;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.app .number .two-one, .app .number .two-two {
  position: absolute;
  height: 10vw;
  width: 10vw;
  border: 2.7vw white solid;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.app .number .two-one {
  left: 4.2vw;
  z-index: 9;
}
.app .number .two-two {
  left: 12.4vw;
}