*{
  box-sizing: border-box;
}

.app{

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(24,22,62,1) 0%, rgba(9,116,121,1) 50%, rgba(0,212,255,1) 100%);
  .number{
    position: relative;
    width: 22vw;
    height: 10vw;
    .one-one {
      position: absolute;
      z-index: 1;
      top: .2vw;
      width: 3vw;
      height: 5vw;
      background-color: white;
      border-radius: .3vw;
      rotate: (50deg);
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
    .one-two {
      position: absolute;
      z-index: 10;
      left: 2.2vw;
      width: 3.2vw;
      height: 10vw;
      background-color: white;
      border-radius: .3vw;
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
    .two-one, .two-two{
      position: absolute;
      height: 10vw;
      width: 10vw;
      border: 2.7vw white solid;
      border-radius: 100%;
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
    .two-one {
      left: 4.2vw;
      z-index: 9;
    }
    .two-two {
      left: 12.4vw;
    }
  }

}
