* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(39, 44, 52);
}
.app .circle {
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
  border: none;
}
.app .circle .sun {
  z-index: 7777;
  position: absolute;
  top: 71px;
  left: -60px;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
  background-color: #FFEF00;
  -webkit-transform-origin: 333% 488%;
          transform-origin: 333% 488%;
  -webkit-animation: sun-goes-down 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: sun-goes-down 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}
.app .circle .sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 23vw;
  background-color: #7DDFFC;
  -webkit-animation: sky-turns-black 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: sky-turns-black 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}
.app .circle .sand {
  z-index: 8888;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35vw;
  height: 12vw;
  background-color: #FFEF00;
  -webkit-animation: fading-sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: fading-sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}
.app .circle .left-side {
  position: absolute;
  top: 13vw;
  left: 8vw;
  width: 11vw;
  height: 10vw;
  background-color: #F4F4F4;
  -webkit-clip-path: polygon(81% 0, 0% 100%, 100% 100%);
          clip-path: polygon(81% 0, 0% 100%, 100% 100%);
  -webkit-animation: sides-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: sides-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}
.app .circle .right-side {
  position: absolute;
  top: 13vw;
  left: 16.84vw;
  width: 11vw;
  height: 10vw;
  background-color: #818080;
  -webkit-clip-path: polygon(0 0, 19% 100%, 100% 100%);
          clip-path: polygon(0 0, 19% 100%, 100% 100%);
  animation: sides-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite reverse;
}
.app .circle .shadow {
  z-index: 9999;
  position: absolute;
  top: 23vw;
  left: 8vw;
  width: 26.4vw;
  height: 10vw;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-clip-path: polygon(0 0, 94% 5%, 75% 0);
          clip-path: polygon(0 0, 94% 5%, 75% 0);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-animation: shadow-on-the-floor 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: shadow-on-the-floor 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@-webkit-keyframes sky-turns-black {
  0% {
    background: #272C34;
  }
  30% {
    background: #7DDFFC;
  }
  70% {
    background: #7DDFFC;
  }
  100% {
    background: #272C34;
  }
}

@keyframes sky-turns-black {
  0% {
    background: #272C34;
  }
  30% {
    background: #7DDFFC;
  }
  70% {
    background: #7DDFFC;
  }
  100% {
    background: #272C34;
  }
}
@-webkit-keyframes sun-goes-down {
  0% {
    background: #F57209;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  5% {
    background: #FFEF00;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  70% {
    background: #FFEF00;
  }
  100% {
    background: #F57209;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}
@keyframes sun-goes-down {
  0% {
    background: #F57209;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  5% {
    background: #FFEF00;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  70% {
    background: #FFEF00;
  }
  100% {
    background: #F57209;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}
@-webkit-keyframes sides-shading {
  0% {
    background: #272C34;
  }
  30% {
    background: #F4F4F4;
  }
  70% {
    background: #DDDADA;
  }
  100% {
    background: #272C34;
  }
}
@keyframes sides-shading {
  0% {
    background: #272C34;
  }
  30% {
    background: #F4F4F4;
  }
  70% {
    background: #DDDADA;
  }
  100% {
    background: #272C34;
  }
}
@-webkit-keyframes fading-sand {
  0% {
    background: #272C34;
  }
  30% {
    background: #F0DE75;
  }
  70% {
    background: #F0DE75;
  }
  100% {
    background: #272C34;
  }
}
@keyframes fading-sand {
  0% {
    background: #272C34;
  }
  30% {
    background: #F0DE75;
  }
  70% {
    background: #F0DE75;
  }
  100% {
    background: #272C34;
  }
}
@-webkit-keyframes shadow-on-the-floor {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(0 0, 94% 5%, 75% 0);
            clip-path: polygon(0 0, 94% 5%, 75% 0);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-clip-path: polygon(0 0, 94% 5%, 75% 0);
            clip-path: polygon(0 0, 94% 5%, 75% 0);
  }
  55% {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(0 0, 0 40%, 75% 0);
            clip-path: polygon(0 0, 0 40%, 75% 0);
  }
}
@keyframes shadow-on-the-floor {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(0 0, 94% 5%, 75% 0);
            clip-path: polygon(0 0, 94% 5%, 75% 0);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-clip-path: polygon(0 0, 94% 5%, 75% 0);
            clip-path: polygon(0 0, 94% 5%, 75% 0);
  }
  55% {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(0 0, 0 40%, 75% 0);
            clip-path: polygon(0 0, 0 40%, 75% 0);
  }
}